@import 'styles/color.scss';

.root {
  display: block;
  > div:first-child {
    background-color: $black;
    opacity: 0.5 !important;
  }
  > div > div {
    border-radius: 10px;
    max-width: 576px;
  }
}
